# Database Configuration (XAMPP MySQL)
DB_URL="YOUR_XAMPP_MYSQL_DATABASE_URL_HERE"
DB_USERNAME="YOUR_DATABASE_USERNAME_HERE"
DB_PASSWORD="YOUR_DB_USER_PASSWORD_HERE"

# Email Service Configuration (Use a 16-digit App Password, not your account password)
SENDER_EMAIL="YOUR_EMAIL"
APP_PASSWORD="YOUR_EMAIL_APP_PASSWORD"